<h2>multiple-outlets-ember</h2>
<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <!-- Left side -->
            <div class="col-xs-6">
                <div class="row">
                    <!-- 1st column -->
                    <div class="col-xs-12 graph">{{outlet graph}}</div>
                </div>
            </div>
            
            <!-- Right side -->
            <div class="col-xs-6">
                <div class="row">
                    <!-- 3rd column -->
                    <div class="col-xs-12 top">{{outlet top}}</div>
                    <!-- colspan 2 -->
                    <div class="col-xs-12 bottom">{{outlet bottom}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

